<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655963444691-h40lmvvohqnff8l8368ca73n7kr4bfj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655963444691-h40lmvvohqnff8l8368ca73n7kr4bfj2</string>
	<key>API_KEY</key>
	<string>AIzaSyD43lW4JgNVGqlcthQpXAU6w_fGJuYVbFg</string>
	<key>GCM_SENDER_ID</key>
	<string>655963444691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-8f865</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-8f865.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655963444691:ios:e2eb1c44b1964acb978b26</string>
</dict>
</plist>